@media screen /* XS */ {
  .n-wrapper {
    width: 90%;
    display: grid;
    grid-template-areas:
      "Header Header Header"
      "Home Home Home"
      "Row Row Row";
    margin-right: auto;
    margin-left: auto;
    row-gap: 71px;
  }

  .n-header {
    grid-area: Header;
    display: flex;
    justify-content: space-between;
  }

  .n-burguer-menu {
    display: none;
  }

  .n-home-news-section {
    grid-area: Home;
    display: grid;
    grid-template-areas: "left left left left left right right right";
    column-gap: 24px;
  }

  .n-container-left {
    grid-area: left;
    display: grid;
    row-gap: 28px;
  }

  .n-container-bottom {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 4.1%;
  }

  .n-container-bottom-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .n-container-right {
    grid-area: right;
    display: flex;
    justify-content: center;
  }

  .n-container-right-container {
    width: 90%;
    display: grid;
    grid-template-rows: 2fr 10fr;
  }

  .n-container-right-container-top {
    display: flex;
    align-items: center;
  }

  .n-container-right-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .n-container-list-item {
    height: 114px;
  }

  .n-row-section {
    grid-area: Row;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
  }

  .n-row-container-item {
    display: flex;
    height: 129px;
    row-gap: 30px;
  }

  .n-row-container-item-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .n-mobile-img {
    display: none;
  }

  .n-desktop-img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) /* SM */ {
}

@media screen and (min-width: 768px) /* MD */ {
}

@media screen and (min-width: 992px) /* LG */ {
}

@media screen and (min-width: 1200px) /* XL */ {
}

@media screen and (min-width: 1400px) /* XXL */ {
}
